{% extends 'container.html.twig' %}

{% block title %}My Resume{% endblock %}

{% block container %}
    <section>
        <header>
            <h1>Julien Helfer, <small>développeur Symfony junior</small></h1>
        </header>
        <section>
            <h2>Expériences professionnelles</h2>
            <article>
                <h4>GUIDAP, Labège (31) — Développeur PHP — Mars à Septembre 2019</h4>
                <p>
                    Développement et amélioration de multiples fonctionnalités d’une application Symfony 3.4 d’envergure
                    (backend api symfony, frontend vue.js / twig, application dockerisée et déployée sur aws).
                </p>
                <ul>
                    <li>Mise en place d’un traqueur d'événements asynchrone avec RabbitMQ et Segment.</li>
                    <li>Participation à l’élaboration des spécifications.</li>
                    <li>Écriture de tests unitaires.</li>
                    <li>Environnement de travail faisant la part belle aux méthodes agiles (SCRUM).</li>
                </ul>
            </article>
            <article>
                <h4>Collectif Humanis, Schiltigheim (67) — Webmestre — Août 2015 à Août 2017</h4>
                <p>Conception et entretien du site internet (Wordpress) du Collectif.</p>
                <ul>
                    <li>Réalisation du thème et de plugin Wordpress.</li>
                    <li>Réalisation d’une carte interactive avec l’api google Maps.</li>
                    <li>Mise à jour quotidienne des contenus.</li>
                </ul>
            </article>
        </section>
        <section>
            <h2>Formation développeur d’application</h2>
            <small>OpenClassroom, https://openclassrooms.com — Mars 2018 à Décembre 2019</small>
            <p>
                Reconversion professionnelle. Formation de développeur d’applications PHP,
                principalement sur le framework Symfony. Formation terminée, Diplôme en cours d’obtention.
                Les projets sont disponibles sur mon <a href="{{ path('app_portfolio') }}">portfolio.</a>
            </p>
            <ul>
                <li>Intégration de thèmes wordpress.</li>
                <li>Réalisation d’un site vitrine avec javascript, mongodb et node.js</li>
                <li>Conception de la solution technique d’une application en ligne à l’aide de diagrammes UML</li>
                <li>Création d’un blog en PHP (POO) sans passer par un framework</li>
                <li>Création d’une application communautaire sous Symfony 4</li>
                <li>Création d’un service web exposant une api REST</li>
                <li>
                    Amélioration d’une application existante à l’aide de test unitaire (PHPunit)
                    et audit des performances avec Blackfire
                </li>
            </ul>
        </section>
        <section>
            <h2>Parcours précédent</h2>
            <ul>
                <li>2011-2016 Graphiste print en indépendant dans la région de Strasbourg (67)</li>
                <li>2011 Graphiste-maquettiste, Librairie Kléber, Strasbourg (67)</li>
                <li>2010 DSAA (Diplôme supérieur d’Art Appliqué), Le Corbusier, Illkirch (67)</li>
                <li>2008 DNAP (Diplôme National d’Art Plastique), Le Quai, Mulhouse (67)</li>
            </ul>
        </section>
    </section>
{% endblock %}
