body {
    background: #efefee;
}

html {
    height:100%;
    background: #f8f9fa;
}

/* NAVIGATION */

.nav-profile-img {
    width: 70px;
    border: 1px solid #efefee;
}

/* LOGIN REGISTRATION */

/* ARTICLES INDEX */

.card-footer {
    font-size: small;
}

/* PROFILE */

/* CREATE ARTICLE */

/* ARTICLE SHOW PAGE */

.article-text img {
    width: 100%;
    margin-bottom: 2em;
}

/* FOOTER */

.footer {
    width: 100%;
    padding: 0.5em;
}
