body {
	background: url('../../images/resume-background.png') repeat;
}

header {
	background-color: #46B29D;
	color: #324D5C;
}

aside {
	background-color: #324D5C;
	font-size: .88rem;
	text-align: center;
}

aside h2 { 
	font-size: 1.5rem; 
}

aside a {
	color: #E37B40;
}

aside a:hover, 
aside a:focus {
	color: white;
}

aside .fas,
aside .svg-inline--fa { 
	color: #E37B40; 
}

h1, h2, h3 {
	font-family: 'Roboto Condensed', sans-serif;
}

main h2 { 
	color: #324D5C; 
	font-size: 1.6rem;
	margin-bottom: 1rem;
}

main h3,
.skills li span {
	color: #E37B40;
}

main h3 {
	font-size: 1.25rem;
	font-variant: small-caps;
}

aside img {
	box-shadow: 3px 3px 7px #20313B;
}

@media (min-width: 768px) {
	aside {
		text-align: left;
	}
}
