{% extends 'container.html.twig' %}

{% block title %}Add a new article{% endblock %}

{% block container %}
    <h1>Add a new article</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-lg btn-primary mt-3" type="submit">
            Save
        </button>
    {{ form_end(form) }}
{% endblock %}



